<div class="campo-container">
  <!-- Se decide qué plantilla renderizar según el tipo -->
  <div class="flex justify-content-center mt-4">
    <div class="card__plantilla">
      <div class="card__plantilla-header">
        <div class="numero">
          <h1>{{ idVisualRamificado }}</h1>
        </div>
      </div>
      <div class="card__plantilla-body">
        <!-- CAMPO FECHA -->
        @if (campo.tipo === 1) {
        <div class="field campo">
          <label>{{ campo.etiqueta }}</label
          ><br />
          <input
            type="date"
            [value]="campo.valor"
            (input)="campo.valor = $any($event.target).value"
            class="w-3 text-base text-color surface-overlay p-2 mt-5 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full"
          />
        </div>
        } @if (campo.tipo === 2) {
        <div class="field campo">
          <label>{{ campo.etiqueta }}</label>

          @if (!campo.multirespuesta) {
          <div class="mt-5">
            @for (opcion of campo.opciones; track opcion.id) {
            <div class="field-checkbox">
              <input
                type="radio"
                name="radio-{{ campo.id }}"
                [checked]="campo.valor == opcion.id"
                (change)="onRadioChange(opcion)"
              />
              <label>{{ opcion.etiqueta }}</label>
            </div>
            }
          </div>
          }@else {
          <div class="mt-5">
            @for (opcion of campo.opciones; track opcion.id) {
            <div class="field-checkbox">
              <input
                type="checkbox"
                [checked]="opcion.seleccionado"
                (change)="onCheckboxChange(opcion)"
              />
              <label>{{ opcion.etiqueta }}</label>
            </div>
            }
          </div>
          }
        </div>
        }

        <!-- CAMPO TEXTO -->
        @if (campo.tipo === 3) {
        <div class="field campo">
          <label>{{ campo.etiqueta }}</label>
          @if (campo.numerico) {
          <input
            type="text"
            [value]="campo.valor"
            [placeholder]="campo.placeholder"
            (input)="onlyInteger($event); campo.valor = $any($event.target).value"
            class="text-base text-color surface-overlay p-2 mt-5 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full"
          />
          }@else {
          <input
            type="text"
            [value]="campo.valor"
            [placeholder]="campo.placeholder"
            (input)="campo.valor = $any($event.target).value"
            class="text-base text-color surface-overlay p-2 mt-5 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full"
          />
          }
        </div>
        }

        <!-- CAMPO lISTA DESPLEGABLE -->
        @if (campo.tipo === 4) {
        <div class="field campo">
          <label>{{ campo.etiqueta }}</label
          ><br />
          <select
            [value]="campo.valor"
            (change)="onChangeSelect($event)"
            class="w-3 text-base text-color surface-overlay p-2 mt-5 border-1 border-solid surface-border border-round-xl outline-none focus:border-primary"
          >
            <option value="" disabled>Selecciona</option>
            @for (opcion of campo.opciones; track opcion.id) {
            <option [value]="opcion.id">{{ opcion.etiqueta }}</option>
            }
          </select>
        </div>
        }
      </div>
    </div>
  </div>

  @for (opcion of opciones; track opcion.id) {
  <div>
    @for (campoHijo of opcion.campos || []; track campoHijo.id; let j = $index) { @if (
    (opcion.seleccionado) || (campo.tipo !== 2 && campo.valor == opcion.id) || (campo.tipo === 4 &&
    campo.valor == opcion.id) ) {
    <div>
      <app-respuesta-campo
        [campo]="campoHijo"
        [idVisualRamificado]="idVisualRamificado + '.' + (j + 1).toString()"
      ></app-respuesta-campo>
    </div>
    } }
  </div>
  }
</div>
