<div class="flex justify-content-center mt-4">
    <div class="card__plantilla">
        <div class="card__plantilla-header">
            <div class="numero">
                <h1>{{posicionCampo}}</h1>
            </div>
            <div class="acciones">
                <button class="mr-5" (click)="eliminarCampo()"><span class="material-symbols">delete</span></button>
                <button class="mr-5" (click)="moverCampoArriba()" [disabled]="posicionCampo === 1"><span
                        class="material-symbols">arrow_upward</span></button>
                <button (click)="moverCampoAbajo()" [disabled]="posicionCampo === totalCampos"><span
                        class="material-symbols">arrow_downward</span></button>
            </div>
        </div>
        <div class="card__plantilla-body">

            <form action="" [formGroup]="formOpciones">
                <div class="formgrid">
                    <div class="field col">
                        <label for="">Pregunta*</label>
                        <input formControlName="etiqueta" id="" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full"
                            placeholder="Escribe aquí la pregunta">
                    </div>
                    <div class="field col">
                        <input formControlName="descripcion" id="" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full"
                            placeholder="Escribe aquí un subtítulo o información adicional">
                    </div>
                    <div formArrayName="opciones" class="formgroup-block col-6 mb-4">
                        <div class="field flex align-items-center mb-3"
                            *ngFor="let opcion of opciones.controls; let i = index" [formGroupName]="i">
                            @if(opcion.get('estado')?.value){
                                @if (formOpciones.get('multiRespuesta')?.value) {
                                <input type="checkbox" disabled class="mr-3">
                                <input formControlName="etiqueta" type="text"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full mr-5"
                                    placeholder="Información"
                                    (blur)="onBlur(i)">

                                <div class="acciones flex gap-2">
                                    <button type="button" class="btn-danger-mini" (click)="eliminarOpcion(i)"><span
                                            class="material-symbols">delete</span></button>
                                            
                                            <button type="button" class="btn-outline-secondary-branch" 
                                                        (click)="ramificar(opcion.value.id)" [disabled]="!opcion.get('etiqueta')?.value" style="width: auto;">
                                                        <span class="material-symbols mr-2">graph_1</span>
                                                            Ramificar
                                                </button>
                                                <div style="white-space: nowrap; align-items: center; display: flex; font-size: 12px;">
                                                    <div *ngIf="opcion.get('campos')?.value">
                                                        <label>{{ totalSubpreguntas(opcion) }} Sub-preguntas</label>
                                                      </div>
                                                
                                            </div>
                                            
                                              
                                            
                                    <!-- <button type="button" class="mr-1" (click)="arriba(i)" [disabled]="i === 0"><span class="material-symbols">arrow_upward</span></button>
                                    <button type="button" (click)="abajo(i)" [disabled]="i === opciones.length - 1"><span class="material-symbols">arrow_downward</span></button> -->
                                </div>
                                
                                
                                }@else{
                                    <input type="radio" name="selectedOption" disabled class="mr-3">
                                    <input formControlName="etiqueta" type="text"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl appearance-none outline-none focus:border-primary w-full mr-5"
                                        placeholder="Información"
                                        (blur)="onBlur(i)">

                                    <div class="acciones flex gap-2">
                                        <button type="button" class="btn-danger-mini" (click)="eliminarOpcion(i)"><span
                                                class="material-symbols">delete</span></button>

                                                <button type="button" class="btn-outline-secondary-branch" 
                                                        (click)="ramificar(opcion.value.id)" [disabled]="!opcion.get('etiqueta')?.value" style="width: auto;">
                                                        <span class="material-symbols mr-2">graph_1</span>
                                                            Ramificar
                                                </button>
                                                <div style="white-space: nowrap; align-items: center; display: flex; font-size: 12px;">
                                                    <div *ngIf="opcion.get('campos')?.value">
                                                        <label>{{ totalSubpreguntas(opcion) }} Sub-preguntas</label>
                                                      </div>
                                                
                                            </div>

                                                
                                    </div>                                                  
                                }
                            }



                        </div>


                    </div>
                    <button (click)="agregarOpcion()" class="btn-outline-danger-secondary"><span
                            class="material-symbols mr-2">add_circle</span>
                        Agregar opción</button>
                    <div class="flex justify-content-end align-items-center">
                        <label class="switch mr-2">
                            <input type="checkbox" formControlName="multiRespuesta">
                            <span class="slider round"></span>
                        </label>
                        <div class="mr-5">Varias respuestas</div>
                        
                            <label class="switch mr-2">
                                <input type="checkbox" formControlName="requerido">
                                <span  class="slider round"></span>
                              </label> Obligatoria
                        
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>