<div class="flex justify-content-center mt-6">
    <div class="col-10">
        <div class="card-edit">
            <div class="card-header">
                <div class="card-back">
                    <a [routerLink]="'/home/plantillas'">
                        <span class="material-symbols">arrow_back</span></a>

                    <button class="btn-primary" (click)="guardarPlantilla()" [disabled]="!camposForm.valid || loading ">
                        <div *ngIf="loading" class="spinner-black"></div>
                        <span *ngIf="!loading" class="material-symbols mr-2">
                            save
                        </span>
                        Guardar
                    </button>
                    @if (plantilla.estado) {
                    <span class="badge_succses">Activo</span>
                    }@else{
                    <span class="badge_error">Inactivo</span>
                    }
                    <div class="flex align-items-center">
                        <label class="switch mr-2">
                            <input type="checkbox" [checked]="plantilla.estado" (change)="estadoPlantilla($event)">
                            <span class="slider round"></span>
                        </label> Activar o desactivar <br> formulario
                    </div>
                </div>
                <button class="btn-outline-secondary" style="margin-left: auto;" (click)="goToVistaPrevia()">
                    <div *ngIf="loading" class="spinner-black"></div>
                    <span *ngIf="!loading" class="material-symbols mr-2">
                        visibility
                    </span>
                    Vista previa
                </button>
                <!-- <div class="card-actions">
                    <button class="btn-secondary-icon">
                        <span class="material-symbols mr-2">
                            file_copy
                        </span>
                        Duplicar
                    </button>
                    <button class="btn-danger-icon">
                        <span class="material-symbols mr-2">
                            delete
                        </span>
                        Eliminar
                    </button>
                </div> -->
            </div>
            <div class="card-body">
                <div class="card-body__info">
                    <span class="badge_secondary">{{plantilla.proyecto}}</span>
                    <!-- Contenedor del Nombre de la Plantilla -->
                    <div class="nombrePlantilla mt-3">
                        <ng-container *ngIf="!editandoNombre">
                            <p>
                                {{ plantilla.nombrePlantilla }}
                                <span class="material-symbols" (click)="toggleEditarNombre()">edit</span>
                            </p>
                        </ng-container>

                        <ng-container *ngIf="editandoNombre">
                            <input type="text" [value]="nombreTemporal" class="editable-input"
                                (input)="nombreTemporal = $any($event.target).value" (blur)="guardarNombre()"
                                (keyup.enter)="guardarNombre()" (keyup.esc)="cancelarEdicionNombre()" />
                        </ng-container>
                    </div>
                    <!-- <p class="nombrePlantilla mt-3">
                        {{plantilla?.nombrePlantilla}}
                        <span class="material-symbols">edit</span>
                    </p> -->
                </div>
                <div class="table-container__plantilla">
                    <table class="table-plantilla">
                        <thead>
                            <tr>
                                <th>Creador: </th>
                                <th>Fecha de creación</th>
                                <th>Fecha ult. actualización</th>
                                <th>Gestiones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{plantilla.nombreCreador | titlecase}}</td>
                                <td>{{plantilla.fechaCreacion | date:"dd/MM/yyyy"}}</td>
                                <td>{{plantilla.fechaModificacion| date:"dd/MM/yyyy"}}</td>
                                <td>{{plantilla.gestiones}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <editar-campos-plantilla [camposs]="camposArray" (actualizarCampos)="triggerActualizarCampos()"
            [esRamificacion]="false">
        </editar-campos-plantilla>

    </div>
</div>