

adicionarElementos {

    position: relative;
    display: inline-block;
}

.adicionarElemento__menu {
    position: relative;
    top: 16px;
    left: 0;
    background-color: #FBFBFC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    z-index: 1000;
    width: 272px;
}

.adicionarElemento__menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.adicionarElemento__menu li {
    padding: 10px 15px;
    cursor: pointer;
  }

  .adicionarElemento__menu li:hover {
    background-color: #f4f4f4;
    border-radius: 12px;
  }

  .adicionarElemento{
    margin-top: 1rem;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  body {
    padding-bottom: 40px;
  }
  