<div class="card" style="height: 97px;">
    <form [formGroup]="crearExcelPlantillaForm()" (ngSubmit)="descargarExcel()">
        <div class="formgrid grid" style="display: flex; align-items: center; gap: 10px;">
            <div class="field col" style="flex: 1;">
                <label class="label-text">Plantilla</label>
                <select name="idPlantilla" id="idPlantilla" formControlName="idPlantilla"
                    class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl outline-none focus:border-primary"
                    style="appearance: auto;">
                    <option value="" [disabled]="true">Selecciona</option>
                    <option *ngFor="let item of listaPlantilla; let i = index" [value]="item.id">{{ item.nombre }}</option>
                </select>
            </div>
            <div class="formgrid grid" style="display: flex; align-items: center; gap: 10px;">
                <div class="field col" style="flex: 1;">
                    <label class="label-text">Fecha inicio</label>
                    <input
                        type="date"
                        name="fechaInicio"
                        id="fechaInicio"
                        formControlName="fechaInicio"
                        [max]="crearExcelPlantillaForm().get('fechaFin')?.value"
                        class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl outline-none focus:border-primary"
                    />
                </div>
                <div class="field col" style="flex: 1;">
                    <label class="label-text">Fecha fin</label>
                    <input
                        type="date"
                        name="fechaFin"
                        id="fechaFin"
                        formControlName="fechaFin"
                        [min]="crearExcelPlantillaForm().get('fechaInicio')?.value"
                        class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl outline-none focus:border-primary"
                    />
                </div>
            </div>
            <div class="field col" style="flex: 1;">
                <label class="label-text">Estado</label>
                <select name="estado" id="estado" formControlName="estado"
                    class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round-xl outline-none focus:border-primary"
                    style="appearance: auto">
                    <option value="" [disabled]="true">Selecciona</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                    <option value="3">Activo/Inactivo</option>
                </select>
            </div>
            <button type="submit" (click)="descargarExcel()" class="btn-excel" 
        style="height: 40px; margin-top: 7px;" 
        [disabled]="!crearExcelPlantillaForm().valid || loading()">
    @if (!(loading())) {
      <span class="material-symbols mr-2">file_download</span>
    } @else {
      <i class="pi pi-spin pi-spinner"></i>
    }
        Descargar información
</button>
        </div>
    </form>
</div>
