.section-texts {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 600;
  font-size: 1rem;
  color: #2a4365
}

.section-description {
  font-size: 0.85rem;
  color: #2b6cb0;
  margin-top: 2px;
  font-weight: normal;
}

.btn-blue-info {
  background-color: #67e8f9;
  /* Cian claro (Cyan 300) */
  color: #000;
  border: 1px solid #67e8f9;
  padding: 8px 16px;
  border-radius: 20px;
  /* Bordes redondeados como en la imagen */
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-blue-info:hover {
  background-color: #22d3ee;
  /* Cyan 400 */
  border-color: #22d3ee;
}