.warning-box {
  display: flex;
  align-items: center;
  background-color: #fff8c4;     /* Amarillo claro */
  border: 1px solid #fdd835;     /* Amarillo más fuerte */
  padding: 12px;
  border-radius: 6px;
  color: #444;
  font-size: 14px;
  margin: 10px 0;
}

.warning-icon {
  font-size: 20px;
  margin-right: 8px;
}

.warning-text {
  flex: 1;
}