.container {
    width: 100%;
    height: 100vh;
    background: rgb(67, 198, 172);
    background: linear-gradient(90deg, rgba(67, 198, 172, 1) 0%, rgba(248, 255, 174, 1) 100%);

    display: grid;
    justify-content: center;
    align-items: center;
}

.login {
    width: 449px;
    /* height: 428px; */
    border-radius: 20px;

    background-color: #FFFFFF;
    -webkit-box-shadow: 10px 4px 10px 0px rgba(135, 135, 135, 0.15);
    -moz-box-shadow: 10px 4px 10px 0px rgba(135, 135, 135, 0.15);
    box-shadow: 10px 4px 10px 0px rgba(135, 135, 135, 0.15);
}

.login__body{
    height: 100%;
    padding: 20px 68px 40px 68px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__body-header{
    text-align: center;
    margin-bottom: 50px;
}

.btn__login{
    width: 300px;
    height: 44px;

    padding: 12px;
    border: 0px;
    border-radius: 10px;

    background-color: #53CFF9;
    color: #22242B;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


.btn__login:disabled{

    background-color: #CEEEF8;
    color: rgb(35, 87, 105, 0.5);
    cursor: not-allowed;
}

.alerta{
    color: #A52118;
    font-size: 12px;
}
